$primary-color: #0c00b3;

.box {
    color: rgb(255, 94, 0);
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
}

.box-title {
  font-size: 0.8em;
  font-weight: bold;
  width: 60%;
  height: 1rem;
  position: relative;
  overflow: hidden;
}

.box-content {
  font-size: 1em;
  height: 1rem;
}

@media (max-width: 800px) {
  .box {
    flex: 1;
  }
}