.news-history-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  left: 5%;
  border-radius: 0.5rem;
  color: white;

  h1 {
    position: relative;
    text-align: center;
    top: -2.5%;
  }

  &-holder {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 100%;
    top: -2.5%;
    left: 1%;
    overflow-x: auto;

    /* Hide the default scrollbar */
    -ms-overflow-style: none;

    /* Create a custom scrollbar */
    &::-webkit-scrollbar {
      height: 0.5rem;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: black;
      border-radius: 5px;
    }
    
    .news-history-item {
      position: relative;
      width: 250px;
      margin-right: 1rem;
      margin-bottom: 0.2rem;
      transition: all 0.3s ease-in-out;

      &:hover {
        border: 1px solid #ffa600;
      }

      a {
        width: inherit;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      img {
        position: absolute;
        object-fit: cover;
        width: inherit;
        height: 100%;
        border-radius: 1rem;
      }

      &:last-child {
        margin-right: .5rem;
      }

      &-content {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 70%;
        background-color: rgba(0,0,0,0.5);
        text-decoration: none;
        color: white;
        position: absolute;
        top: 0%;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        z-index: 1;

        &-title {
          width: 100%;
          grid-row: 1;
          grid-column: 2 span;
          text-align: center;
          p {
            overflow-wrap: normal;
          }
        }

        &-date {
          position: relative;
          grid-row: 2;
          grid-column: 1;
          left: 10%;
        }
      }
    }
  }
}