  .user-data {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    justify-content: center;
    color: rgb(202, 202, 202);

    img {
      position: absolute;
      width: 100%;
      height: inherit;
      object-fit: cover;
      left: 0;
      z-index: -10;
      vertical-align: middle;
      display: inline-block;
      box-sizing: border-box;
      scroll-behavior: smooth;
    }

    h1 {
      position: relative;
      font-size: 2.5rem;
      color: #ffa600;
      top: -1rem;
    }

    .data-values {
      position: relative;
      display: grid;
      grid-template-columns: 3;
      grid-template-rows: 3;
      justify-content: center;
      width: 40%;
      left: 30%;
  
      .data-value {
        padding: 0.5rem 0;
        background-color: rgba(32,28,38,1);
        border-radius: 0.5rem;
        font-weight: bold;
        height: 3rem;
        width: 220px;

        &.val1 {
          grid-row: 1;
          grid-column: 1;
        }
        &.val2 {
          grid-row: 3;
          grid-column: 1;
        }
        &.val3 {
          grid-row: 2;
          grid-column: 2;
        }
        &.val4 {
          grid-row: 1;
          grid-column: 3;
        }
        &.val5 {
          grid-row: 3;
          grid-column: 3;
        }
      }
    }
  }

  .middle-part-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    width: 100%;

    &-graph {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 0.5rem;
      border-radius: 5px;
      background-color: rgba(0,0,0,0.6)
    }
    
    .recent-activity {
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      min-height: 450px;
      user-select: none;
      margin-top: 0.5rem;
      border-radius: 5px;
      background-color: rgba(0,0,0,0.6);
    }
  }