.termsofservice-container {
  position: relative;
  color: white;
  width: 80%;
  left: 10%;
  background-color: #333;
  border-radius: 1rem;
  padding: 0.5rem;
  top: 1rem;

  h1, h6 {
    text-align: center;
  }
}