$white: rgb(255, 255, 255);
$bg: rgb(32, 28, 38);
$bg-dark: rgb(0, 0, 0);
$bg-light: rgb(255, 255, 255);
$text: rgb(255, 94, 0);
$primary: rgb(255, 94, 0);

$border-radius: 8px;

$md-spacing: 16px;
$sm-spacing: 8px;
$lg-spacing: 32px;

$sm: 37.5em;
$md: 48em;
$lg: 64em;

$box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11), 0 16px 16px rgba(0, 0, 0, 0.11);
