.footer {
  position: relative;
  display: flex;
  left: -20px;
  bottom: 0;
  width: calc(100% + 40px);
  height: 70px;
  background: rgb(0, 0, 0);
  text-align: center;
  justify-content: center;
  align-items: center;
  

  .footer-nav {
    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      padding: 0;
      margin-bottom: 1rem;

      li {
        margin: 0 10px;

        a {
          text-decoration: none;
          color: white;

          &:hover {
            color: #ffa600;
          }
        }
      }
    }
  }

  .footer-text {
    margin: 0;
  }
}
