.history-filter {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  width: 90%;
  height: auto;
  justify-content: center;

  &-holder {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    img {
      object-fit: contain;
      width: 1rem;
      margin-bottom: 1rem;
    }

    &.loading {
      justify-content: center;
      cursor:default;

      .history-filter-holder-item {
        &:hover {   
          background-color:rgba(80, 80, 80, 0.3);
          color: white;
          cursor: default;
        }
      }
    }

    &-item {
      position: relative;
      width: fit-content;
      white-space: nowrap;
      outline: 1px solid rgba(0, 0, 0, 0.5);
      background-color:rgba(80, 80, 80, 0.3);
      border-radius: 15px;
      padding: 0.35rem;
      cursor: pointer;
      color: white;

      span {
        pointer-events: none;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
        color: #ffa600;
      }

      &.active {
        background-color: rgba(0, 0, 0, 0.5);
        color: #ffa600;
      }
    }
  }
}