.sessionViewOverlay {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 3.5rem;
  padding-left: 4px;
  padding-right: 4px;
  width: 100vw;
  height: calc(100vh - 3.5rem);
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  box-sizing: border-box;
  scroll-behavior: smooth;

  & * {
    user-select: none;
  }

  &-Content {
    position: relative;
    width: 90%;
    // this will get changed probably
    height: calc(100vh - 60px - 70px - 3.5rem - 5rem);
    border-radius: 0.9375rem;
    background-color: #333;
    overflow: hidden;
  
    &-Close {
      all:unset;
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      right: 0.5rem;
      top: 0.5rem;
      grid-column: 2;
      grid-row: 1;
      color: white;
      text-align: center;
      font-weight: 500;
      font-size: x-large;
      z-index: 1;
  
      &:hover {
        color: #FFA600;
      }
    }

    // debug
    /* & * {
      background: black;
      outline: solid green;
    } */

    &-Holder {
      margin: 2rem;
      height: calc(100% - 4rem);
      overflow: hidden;

      &-MainContent {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 50% 45%;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 0.9375rem;
    
        h2 {
          align-self: center;
          margin: 0;
          margin-top: 1rem;
          color: white;
        }

        &-HeaderContent {
          grid-column: span 2;
          grid-row: 1;
          position: relative;
          display: grid;
          grid-template-columns: repeat(5,1fr);
          border-radius: 0.9375rem;
          background-color: #1E1E1E;
          font-size: 12px;
          font-weight: 400;
          color: #FFF;
          margin-bottom: 1rem;
          overflow: hidden;

          h3 {
            text-align: center;
            margin: 0;
            margin-top: 0.5rem;
          }

          &-Site {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;

            &-Content {
              position: relative;
              display: flex;
              align-items: center;
              flex: 1;
              
              h3 {
                margin: 0;
              }
            }
          }

          &-SessionTime {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 0.75rem;
            height: 100%;
    
            &-Content {
              position: relative;
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 1rem;
              flex: 1;
    
              h3 {
                margin: 0;
              }
    
              span {
                width: 2rem;
                height: 1rem;
                background-color: #272727;
                border: unset;
                color: white;
                text-align: center;
                border-radius: 15px;
    
              }
            }
          }
    
          &-TotalSilverAfterTaxes {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            &-Content {
              position: relative;
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 1rem;
              flex: 1;
              
              h3 {
                margin: 0;
              }
            }
          }
    
          &-SilverPreHourBeforeTaxes {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            &-Content {
              position: relative;
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 1rem;
              flex: 1;
    
              h3 {
                margin: 0;
              }
            }
          }
    
          &-SilverPreHourAfterTaxes {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            &-Content {
              position: relative;
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 1rem;
              flex: 1;
    
              h3 {
                margin: 0;
              }
            }
          }
        }

        &-DropItems {
          display: flex;
          flex-direction: column;
          grid-column: span 2;
          grid-row: 2;
          overflow: hidden;
          overflow-y: scroll;
          background-color: #1E1E1E;

          h2 {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
          }

          &-Header {
            width: calc(100% - 0.5rem - 1.5rem);
            display: grid;
            grid-template-columns: 45% 25% 5% 25%;
            margin: 0 0.5rem 0 1rem;
            text-align: center;
            align-content: center;
            color: white;
            font-weight: 600;
            background-color: rgba(10, 10, 10, 1);
            min-height: 2rem;
          }

          &-Content {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            background-color: #141414;
            margin: 0 0.5rem 0 1rem;
            overflow-y: auto;
  
            &::-webkit-scrollbar {
              height: 0.5rem;
            }
  
            &-Item {
              display: grid;
              grid-template-columns: 45% 25% 5% 25%;
              margin-top: 0.5rem;
              min-height: 3rem;
              color: rgba(255, 255, 255, 0.9);
  
              .taxableCheckBox {
                display: flex;
                justify-self: center;
  
                input {
                  all: initial;
                  -webkit-appearance: none;
                  appearance: none;
                  margin: 0;
                  color: #555;
                  width: 1.15em;
                  height: 1.15em;
                  border: 0.15em solid #555;
                  border-radius: 0.15em;
                  transform: translateY(-0.075em);
                  display: grid;
                  place-content: center;
  
                  &:checked {
                    &::before {
                      transform: scale(1);
                    }
                  }
  
                  &::before {
                    content: "";
                    width: 0.65em;
                    height: 0.65em;
                    transform: scale(0);
                    transition: 120ms transform ease-in-out;
                    box-shadow: inset 1em 1em #ffa600;
                  }
                }
              }
  
              &-Name {
                margin-left: 1rem;
              }
  
              div {
                display: flex;
                flex-direction: row;
                align-items: center;
              }
  
              span {
                all:unset;
                width: 100%;
                background: transparent;
                text-align: center;
              }
  
              &:last-child {
                margin-bottom: 0.5rem;
              }
  
              &:nth-child(odd) {
                background-color: #282828;
              }
            }
          }
        }

        &-SetupContent {
          grid-column: span 2;
          grid-row: 3;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr;
          
          background-color: #1E1E1E;
          
          &-Loadout {
            grid-column: 1;
            grid-row: 1;
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow: hidden;
            overflow-y: auto;

            &-Item {
              border-radius: 15px;
              background-color: #282828;
              color: white;
              margin: 0 1rem 1rem 1rem;
              padding-bottom: 1rem;

              h4 {
                text-align: center;
                margin: 0.5rem 0 0 0;
              }

              h5 {
                text-align: center;
                margin: 0.5rem 0 0.5rem 0;
              }

              &-Content {
                display: flex;
                flex-direction: row;

                &-AP {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  flex: 1;
                }

                &-DP {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  flex: 1;
                }
              }
            }
          }
          
          &-DropRate {
            grid-column: 2;
            grid-row: 1;
            display: flex;
            flex-direction: column;
            width: calc(100% - 1rem);
            overflow: hidden;
            overflow-y: auto;

            &-Content {
              &-GridList {
                display: grid;
                grid-template-columns: repeat(auto-fill, 3rem);
                gap: 0.5rem;
                justify-content: center;
                align-items: center;
              
                &-Item {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 100%;
                  height: 100%;
                
                  img {
                    height: 100%;
                    width: 100%;
                  }

                  &.active {
                    border: 1px solid;
                    border-color: #FFA600;
                  }
                }
              }
            
              &-Total {
                color: white;
              }
            }
          }
        }
      }
    }

    

    
  }
}