.profile-navigation-container {
    background-color: rgba(0,255,0, 0.2);
    position: relative;
    width: 25%;
    left: 0;
    li {
        list-style-type: none;
    }
    button {
        cursor: pointer;
        background: transparent;;
        border: none;
        font-size: 18px;
        margin-right: 1.5%;
        margin-top: 1.5%;
        color: rgb(255, 94, 0);
    }
}